# Игнорировать папки проектов IDE
.idea/
.vscode/

# Игнорировать виртуальные окружения
venv/
.env/
.venv/

# Игнорировать скомпилированные Python файлы
__pycache__/
*.py[cod]

# Игнорировать лог-файлы
*.log

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Build artifacts and temporary files
build/
dist/
*.spec
*.exe
*.pkg
*.pyz
*.toc
*.zip
*.txt
*.html

# Если иконка — исходник, не игнорируйте её!
# Если иконка появляется только после сборки, добавьте её сюда по имени
*.ico
